#header {
  min-width: 800px;
  #user {

  }
  .logo {
    height: 128px;
  }
  .resource {
    display: inline-block;
    border: 1px solid #999;
    background: #fff;
    margin: 2px;
    padding: 2px 5px;
    .icon {
      max-height: 16px;
      max-width: 16px;
    }
    .value {
      color: #333;
    }
  }
} 
